<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EmployeeActivity"
            android:label="@string/employee_data"
            android:exported="true" />
        <activity
            android:name=".activity.MotorcycleActivity"
            android:label="@string/motorcycle_data"
            android:exported="true" />
        <activity
            android:name=".activity.CreditorActivity"
            android:label="@string/creditors_data"
            android:exported="true" />
        <activity
            android:name=".activity.CreditApplicationActivity"
            android:label="@string/credit_application"
            android:exported="true" />
        <activity
            android:name=".activity.CreditApplicationDataActivity"
            android:label="@string/credit_application_data"
            android:exported="true" />
        <activity
            android:name=".activity.InstallmentPaymentActivity"
            android:label="@string/installment_payment"
            android:exported="true" />
        <activity
            android:name=".activity.InstallmentPaymentDataActivity"
            android:label="@string/installment_payment_data"
            android:exported="true" />
    </application>
</manifest>